@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-foundation-navy: #1b365d;
  --color-foundation-gold: #b08d57;
  --color-foundation-light: #f8faff;

  --width-hd: 1920px;
  --min-width-hd: 1920px;
  --max-width-hd: 1920px;
}

@layer base {
  body {
    @apply text-foundation-navy selection:bg-foundation-gold bg-white font-sans antialiased selection:text-white;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.8s ease-out forwards;
  }

  .animate-slide-up {
    animation: slideUp 0.8s ease-out forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
